@font-face {
  font-family: Ralewaymed;
  src: url(/Fonts/raleway/Raleway-Medium.ttf);
}
main {
  margin-top: 100px;
  font-family: Ralewaymed;
  min-height: 700px;
  display: flex;
  justify-content: center;
}
main .text {
  width: 70%;
}
main .text h1 {
  font-size: 26px;
}
main .text ul {
  list-style-type: none;
  line-height: 34px;
}
main .text .bld:nth-child(2n - 1) {
  font-weight: bold;
}
