<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles/admin/admin.css">
</head>

<body>
    <main>
        <form class="auth" method="POST" action="/goonadmin">
            <div class="email">
                <input type="email" name="email">
            </div>
            <div class="password">
                <input type="password" name="password">
            </div>
            <div class="btn">
                <button type="submit">Войти</button>
            </div>
        </form>
    </main>
</body>

</html>