<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/styles/header/header.css">
    <link rel="stylesheet" href="/static/styles/forgot/forgot.css">
    <link rel="stylesheet" href="/static/styles/footer/footer.css">
    <script src="/static/js/header/header.js" defer></script>
    <script src="/static/js/forgot/forgot.js" defer></script>
    <script src="/static/js/footer/footer.js" defer></script>
</head>

<body>
    {{> header}}
    <main>
        <div class="user">
            <div class="sign_up active" id="sign_up">
                <form action="/chenge_email" method="POST">
                    <div class="text">
                        <p>Cмена почты</p>
                    </div>
                    <input type="email" name="new_email" placeholder="Новая почта">
                    <input type="text" name="name" placeholder="Имя">
                    <input type="password" name="password" placeholder="Пароль">
                    <button type="submit">Сменить</button>
                    {{#if mess}}
                    <p class="mess" style="color: red;">{{mess}}</p>
                    {{/if}}
                </form>
            </div>
            <div class="sign_in notactive" id="sign_in">
                <form action="/chenge_password" method="POST">
                    <div class="text">
                        <p>Смена пароля</p>
                    </div>
                    <input type="text" name="name" placeholder="Имя">
                    <input type="password" name="password1" placeholder="Новый пароль">
                    <input type="password" name="password2" placeholder="Подтверждение пароля">
                    <button type="submit">Сменить</button>
                    {{#if mess}}
                    <p class="mess" style="color: red;">{{mess}}</p>
                    {{/if}}
                </form>
            </div>
            <div class="wall reg" id="wall">
                <h2>Добро пожаловать!</h2>
                <p id="txt">Введите свои данные для смены почты</p>
                <button id="btn">Сменить пароль</button>
            </div>
        </div>
    </main>
    {{> footer}}
</body>

</html>